{% extends "layout.html" %}
{% block title %}
    Sell Stock
{% endblock %}
{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select id="symbol" class="form-control" name="symbol" placeholder="Symbol">
                {% for stock in userStocks %}
                <option value ="{{ stock.symbol }}" > {{ stock.symbol }} </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <input id="shares" autocomplete="off" autofocus class="form-control" name="shares" type="number" placeholder="Number of Shares">
        </div>
        <button id="submit" class="btn btn-primary" type="submit">Sell</button>
     </form>   

{% endblock %}